DOMAIN=http(s)://vaultwarden.example.com  # Your domain, prefixed with http or https.
EMAIL=admin@example.com # The email address to use for ACME registration.
CLOUDFLARE_API_TOKEN=your_api_token_here # Cloudflare API token
DUCKDNS_TOKEN=uuid-stuff-here # DuckDNS token